* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $fontSizeXL;
    font-family: $textFont;
    color: $textColor;
    background-color: $backgroundColorPrim;
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
    min-height: 100%;
    @include scrollbar;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: $highlightColor;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $highlightColor;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
    }
    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;    
    }
}

h2 {
    font-size: clamp(2rem, 6vw, 3rem);
    color: $accentColor;
    @include headerFont;
}

section {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 300px;
}

ul {
    list-style: none;
}

li::before {
    content: ">";
    color: $accentColor;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.content_container { // All sections
    $paddingClamp: clamp(0.5rem, 15vw, 15rem);
    padding-left: $paddingClamp;
    padding-right: $paddingClamp;
    @media (max-width: 400px) {
        padding: 0 25px;
    }
}

.accent_color {
    color: $accentColor;
}

