@import "variables";

.topnav {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    .topnav_logo {
        margin-left: 10px;
    }
    .topnav_link_container {
        margin-right: 40px;
        a {
            color: $fontColorHighlight;
            margin-left: 15px;
        }
    }
}