@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono:wght@400;700&display=swap');

// Colors
$backgroundColorPrim: black;
$highlightColor: #00FF41;
$accentColor: #039e04;
$textColor: #237a46;
$transitionPrim: 0.5s ease-in-out;

// Font Properties
$fontSizeXXS: 12px;
$fontSizeXS: 13px;
$fontSizeS: 14px;
$fontSizeM: 16px;
$fontSizeL: 18px;
$fontSizeXL: 20px;
$fontSizeXXL: 22px;
$fontSizeHeader: 32px;

$textFont: 'Ubuntu Mono';
$subHeaderFont: 'Roboto Mono';
@mixin headerFont {
    font-family: 'Ubuntu Mono';
    font-weight: 700;
}

.highlight {
    color: $highlightColor
}

.accent {
    color: $accentColor;
}

// Others

@mixin scrollbar {
    // Chromium
    &::-webkit-scrollbar {
        width: 7px;
        height: 5px;
        
    }
    &::-webkit-scrollbar-track {
        background: $backgroundColorPrim;
        
    }
    &::-webkit-scrollbar-thumb {
        background-color: $highlightColor;
        outline: 1px solid $highlightColor;
        border-radius: 5px;
    }

    // Firefox
    //TODO: implement firefox support for scrollbar
}