// Variables
$backgroundColorPrim: black;
$transitionPrim: 0.5s ease-in-out;

$fontFamilyPrim: 'Ubuntu';
$fontColorPrim: #008F11;
$fontColorHighlight: #00FF41;
$fontColorBetween: rgb(71, 224, 0);

$fontSizeXXS: 12px;
$fontSizeXS: 13px;
$fontSizeS: 14px;
$fontSizeM: 16px;
$fontSizeL: 18px;
$fontSizeXL: 20px;
$fontSizeXXL: 22px;
$fontSizeHeader: 32px;

// Mixins
@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin jobSelector {
    background-color: $fontColorHighlight;
    color: black;
    font-weight: bold;
}