// Variables
$backgroundColorPrim: black;
$transitionPrim: 0.5s ease-in-out;

$fontFamilyPrim: 'Ubuntu';
$fontSizeReg: clamp(0.9rem ,1.1rem, 1.2rem);
$fontColorPrim: rgb(50, 158, 0);
$fontColorHighlight: #00ff0d;

$fontSizeXXS: 12px;
$fontSizeXS: 13px;
$fontSizeS: 14px;
$fontSizeM: 16px;
$fontSizeL: 18px;
$fontSizeXL: 20px;
$fontSizeXXL: 22px;
$fontSizeHeader: 32px;

// Mixins
@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}