@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import "variables";
@import "navbar";
@import "overlay";
@import "_general_tags.scss";

// Home section
.home_sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0;
    .heading_text {
        font-size: clamp($fontSizeXXL, 13vw, 80px);
        font-weight: 400;
        line-height: 1.1;
        margin: 0 0 50px 0;
        color: $fontColorHighlight
    }
    .desc_text {
        max-width: 600px;
    }
    span:not(.intro){
        font-weight: bold;
        color: $fontColorHighlight;
    }
    .intro {
        color: $fontColorBetween;
    }
}

// About section
.about_sec {
    max-width: 1200px;
    display: block;
    @media (max-width: 400px) {
        font-size: $fontSizeM;
    }
    .inner {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 50px;
        .headshot_container {
            display: block;
            position: relative;
            border-radius: 5px;
            width: 300px;
            height: 300px;
            box-shadow: 20px 20px $backgroundColorPrim, 20px 20px 0 2px $fontColorHighlight;
            transition: box-shadow $transitionPrim;
            @media(max-width: 400px) {
                width: 200px;
                height: 200px;
            }
            img {
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: 0;
                max-width: none;
                border-radius: 5px;
            }
            div {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                background-color: rgba($fontColorPrim, 0.4);
                transform: translateY(0);
                transition: background-color $transitionPrim;
            }
            div:hover {
                transition: background-color $transitionPrim;
                background-color: rgba(0,0,0,0);
            }
            &:hover {
                box-shadow: 0 0 0 0 $fontColorHighlight;
                transition: box-shadow $transitionPrim;
            }
    
        }
        @media (max-width: 1200px) {
            grid-template-columns: 3fr;
            .headshot_container {
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
            }
        }
    }
}

.skills_sec {
    padding-left: -50px;
    padding-right: -50px;
    p { 
        @media(max-width: 580px) {
            font-size: $fontSizeS !important;
        }
        @media(max-width: 400px) {
            font-size: $fontSizeXS !important;
        }
    }
}
.skills_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20% 80%;
    grid-row-gap: 0;
    grid-column-gap: 0;
    .tech_header {grid-area: 1 / 1 / 2 / 2;}
    .beginner_header {grid-area: 1 / 2 / 2 / 3;}
    .proficient_header {grid-area: 1 / 3 / 2 / 4;}
    .expert_header {grid-area: 1 / 4 / 2 / 5;}

    .skill_level_con {grid-area: 2 / 2 / 9 / 5;}
    .header {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: $fontColorHighlight;
        font-size: $fontSizeXL !important;
        @media(max-width: 700px) {
            font-size: $fontSizeL !important;
        }
        @media(max-width: 580px) {
            font-size: $fontSizeM !important;
        }
        @media(max-width: 400px) {
            font-size: $fontSizeXS !important;

        }
    }
    .tech_header, .skill_name {
        border-right: 1px solid $fontColorPrim;
    }
    .beginner_header {
        margin-left: 2px;
        margin-right: 5px;
    }
    .proficient_header {
        margin-right: 2px;
    }
    .skill_name {
        margin-left: 10px;
        padding-top: 15px;
        white-space: nowrap;
        padding-right: 5px;
        @media(max-width: 580px) {
            font-size: $fontSizeS !important;
        }
        @media(max-width: 400px) {
            font-size: $fontSizeXS !important;
        }
    }
    .skill_level_con {
        p {
            margin-top: 15px;
            margin-left: 5px;
            @media(max-width: 580px) {
                font-size: $fontSizeS !important;
            }
            @media(max-width: 400px) {
                font-size: $fontSizeXS !important;
            }
        }
    }
}

.experience_sec {
    max-width: 700px !important;
    .experience_container {
        width: 100%;
        height: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .experience_name_column {
            p {
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    transition: 0.2s ease-in-out;
                    @include jobSelector;
                    cursor: pointer;
                }
                &:not(:hover) {
                    transition: 0.2s ease-in-out;
                }
            }
            .job_selected {
                @include jobSelector;
            }
        }
        .experience_desc {
            .job_desc_header {
                color: $fontColorPrim;
            }
            li {
                list-style-type: "";
                line-height: 2rem;
                &::before {
                    content: '>';
                    color: $fontColorHighlight;
                }
            }
            ul > li {
                margin-left: 25px;
            }
            .job_tech_con {
                display: flex;
                min-width: 50%;    
                div {
                    flex: 1;
                }
            }
            #techHeader {
                margin-top: 20px;
            }
        }
    }
    @media (max-width: 850px) {
        .experience_container {
            width: 100%;
            height: 100%;
            min-width: 100%;
            display: block;
            .experience_name_column {
                width: 70vw;
                height: 100%;
                display: flex;
                overflow-x: auto;
                margin-bottom: 20px;
                padding-bottom: 10px;
                &::-webkit-scrollbar {
                    height: 5px;
                    
                }
                &::-webkit-scrollbar-track {
                    background: black;
                    padding-top: 50px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $fontColorPrim;
                    outline: 1px solid $fontColorPrim;
                    border-radius: 5px;
                }
                p {
                    white-space: nowrap;
                    font-size: $fontSizeM;
                }
            }
        }
    }
    @media (max-width: 500px) {
        .experience_name_column {
            p {
                font-size: $fontSizeS;
                padding: 10px !important;
            }
        }
        .job_tech_con {
            display: block !important;
            min-width: 50%;
        }
        .experience_desc {
            font-size: $fontSizeM;
        }
    }
}