@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono:wght@400;700&display=swap");
.highlight {
  color: #00FF41;
}

.accent {
  color: #039e04;
}

.highlight {
  color: #00FF41;
}

.accent {
  color: #039e04;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.topnav .topnav_logo {
  margin-left: 10px;
}
.topnav .topnav_link_container {
  margin-right: 40px;
}
.topnav .topnav_link_container a {
  color: #00FF41;
  margin-left: 15px;
}

#terminal_overlay {
  opacity: 1;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
}

#terminal_text {
  z-index: 9999;
  color: #00FF41;
  overflow: visible;
  padding-left: 30%;
  padding-top: 10%;
}

.terminal_cursor {
  opacity: 1;
  margin-bottom: -2px;
  height: 15px;
  margin-left: -1px;
  border-right: 7px solid #00FF41;
  -webkit-animation: blink_cursor 0.9s steps(2, start) infinite;
          animation: blink_cursor 0.9s steps(2, start) infinite;
  z-index: 9999;
}

@-webkit-keyframes blink_cursor {
  to {
    visibility: hidden;
  }
}

@keyframes blink_cursor {
  to {
    visibility: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Ubuntu Mono";
  color: #237a46;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
  min-height: 100%;
  padding-bottom: 50px;
}
body::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background-color: #00FF41;
  outline: 1px solid #00FF41;
  border-radius: 5px;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #00FF41;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00FF41;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h2 {
  font-size: clamp(2rem, 6vw, 3rem);
  color: #039e04;
  font-family: "Ubuntu Mono";
  font-weight: 700;
}

section {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 300px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

li::before {
  content: ">";
  color: #039e04;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.content_container {
  padding-left: clamp(0.5rem, 15vw, 15rem);
  padding-right: clamp(0.5rem, 15vw, 15rem);
}
@media (max-width: 400px) {
  .content_container {
    padding: 0 25px;
  }
}

.accent_color {
  color: #039e04;
}

.home_sec {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.home_sec .heading_text {
  font-size: clamp(2.5rem, 6vw, 5rem);
  color: #00FF41;
  white-space: nowrap;
}
.home_sec .desc_text .intro {
  color: #039e04;
}
.home_sec .tag_text {
  align-self: center;
  padding-top: clamp(20px, 10vh, 100px);
  font-size: clamp(2rem, 6vw, 3rem);
}
.home_sec .scroll_text {
  padding-top: 5px;
}
.home_sec .scroll_animation {
  display: block;
  height: 40px;
  width: 100%;
  background: black;
  -webkit-animation: scroll_animation 2s linear infinite;
          animation: scroll_animation 2s linear infinite;
}

@-webkit-keyframes scroll_animation {
  to {
    transform: translateY(250px);
  }
}

@keyframes scroll_animation {
  to {
    transform: translateY(250px);
  }
}
.about_sec {
  line-height: 2;
  display: block;
}
.about_sec .first {
  padding-bottom: 50px;
}
.about_sec .about_sec_container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.about_sec .about_sec_container .first_img {
  margin-left: 100px;
}
.about_sec .about_sec_container .second_img {
  margin-right: 100px;
}
.about_sec .about_sec_container .headshot_container {
  display: block;
  position: relative;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  box-shadow: 20px 20px black, 20px 20px 0 2px #00FF41;
  transition: box-shadow 0.5s ease-in-out;
}
@media (max-width: 500px) {
  .about_sec .about_sec_container .headshot_container {
    width: 200px;
    height: 200px;
  }
}
.about_sec .about_sec_container .headshot_container img {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  max-width: none;
  border-radius: 5px;
}
.about_sec .about_sec_container .headshot_container div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(35, 122, 70, 0.4);
  transform: translateY(0);
  transition: background-color 0.5s ease-in-out;
}
.about_sec .about_sec_container .headshot_container div:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}
.about_sec .about_sec_container .headshot_container:hover {
  box-shadow: 0 0 0 0 #00FF41;
  transition: box-shadow 0.5s ease-in-out;
}
@media (max-width: 1200px) {
  .about_sec .about_sec_container {
    grid-template-columns: 4fr;
  }
  .about_sec .about_sec_container .headshot_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
@media (max-width: 1200px) {
  .about_sec .second {
    display: flex;
    flex-direction: column-reverse;
  }
}

.skills_sec {
  height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
}
.skills_sec .skills_container {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: grid;
  margin-bottom: 50px;
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% 80%;
  grid-row-gap: 0;
  grid-column-gap: 0;
}
.skills_sec .skills_container .tech_header {
  grid-area: 1/1/2/2;
}
.skills_sec .skills_container .beginner_header {
  grid-area: 1/2/2/3;
}
.skills_sec .skills_container .proficient_header {
  grid-area: 1/3/2/4;
}
.skills_sec .skills_container .expert_header {
  grid-area: 1/4/2/5;
}
.skills_sec .skills_container .skill_level_con {
  grid-area: 2/2/9/5;
}
.skills_sec .skills_container .header :not(.tech_header) {
  margin-bottom: 20px;
  margin-right: 20px !important;
  display: flex;
  margin: 0;
  justify-content: center;
  color: #039e04;
  font-size: clamp(14px, 8vw, 22px);
}
.skills_sec .skills_container .header {
  z-index: 100;
}
.skills_sec .skills_container .tech_header, .skills_sec .skills_container .skill_name_container {
  border-right: 1px solid #237a46;
  background-color: black;
}
.skills_sec .skills_container .beginner_header {
  margin-left: 2px;
  margin-right: 5px;
}
.skills_sec .skills_container .proficient_header {
  margin-right: 2px;
}
.skills_sec .skills_container .skill_name_container {
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  height: 100%;
}
.skills_sec .skills_container .skill_name {
  margin-left: 10px;
  padding-top: 15px;
  white-space: nowrap;
  padding-right: 5px;
  color: #039e04;
}
.skills_sec .skills_container .skill_level_con p {
  margin-top: 15px;
  margin-left: 5px;
}
.skills_sec .skills_container::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
.skills_sec .skills_container::-webkit-scrollbar-track {
  background: black;
}
.skills_sec .skills_container::-webkit-scrollbar-thumb {
  background-color: #00FF41;
  outline: 1px solid #00FF41;
  border-radius: 5px;
}
.skills_sec .other_tech_con {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
}
.skills_sec .other_tech_con div {
  width: 300px;
}
@media (max-width: 1300px) {
  .skills_sec {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 970px) {
  .skills_sec {
    padding-left: 0;
    padding-right: 0;
  }
}

.experience_sec {
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
}
@media (max-width: 330px) {
  .experience_sec h2 {
    font-size: 1.8rem;
  }
}
.experience_sec .experience_con {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 50px;
}
@media (max-width: 460px) {
  .experience_sec .experience_con .jobs_list {
    overflow-x: auto;
    padding-bottom: 10px;
  }
  .experience_sec .experience_con .jobs_list::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }
  .experience_sec .experience_con .jobs_list::-webkit-scrollbar-track {
    background: black;
  }
  .experience_sec .experience_con .jobs_list::-webkit-scrollbar-thumb {
    background-color: #00FF41;
    outline: 1px solid #00FF41;
    border-radius: 5px;
  }
}
.experience_sec .experience_con .jobs_list div {
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  border-left: 2px solid #237a46;
  margin-top: auto;
  cursor: pointer;
}
@media (max-width: 460px) {
  .experience_sec .experience_con .jobs_list div {
    border-bottom: 2px solid #237a46;
    border-left: 0;
  }
}
.experience_sec .experience_con .jobs_list div:hover {
  color: #00FF41;
}
@media (max-width: 460px) {
  .experience_sec .experience_con .jobs_list {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}
.experience_sec .experience_con .job_desc_con {
  width: 100%;
}
.experience_sec .experience_con .job_desc_con .job_title {
  color: #039e04;
  font-size: 22px;
  margin-bottom: 5px;
}
@media (max-width: 1045px) {
  .experience_sec .experience_con .job_desc_con .job_title {
    white-space: pre-line;
  }
}
.experience_sec .experience_con .job_desc_con .job_duration {
  margin-bottom: 20px;
  font-size: 18px;
  color: #039e04;
}
.experience_sec .experience_con .job_desc_con .job_desc {
  margin-left: 20px;
}
.experience_sec .experience_con .job_desc_con .job_desc li {
  margin-bottom: 15px;
  font-size: 18px;
}
@media (max-width: 460px) {
  .experience_sec .experience_con {
    display: block;
  }
}
@media (max-width: 1300px) {
  .experience_sec {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 970px) {
  .experience_sec {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 600px) {
  .experience_sec {
    padding-left: 0;
    padding-right: 0;
  }
}

.job_active {
  border-left: 2px solid #00FF41 !important;
  color: #00FF41;
}
@media (max-width: 460px) {
  .job_active {
    border-bottom: 2px solid #00FF41 !important;
    border-left: 0 !important;
  }
}

.projects_sec .projects_con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
}
.projects_sec .projects_con .project_card {
  margin-right: 20px;
  position: relative;
  background-color: #00FF41;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.projects_sec .projects_con .project_card img {
  width: 100%;
  height: 100%;
}
.projects_sec .projects_con .project_card p {
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}

footer {
  position: fixed;
  bottom: 0;
  margin-left: calc(100vw - 50px);
}
footer .footer_con a {
  all: unset;
  width: 100%;
  height: 10px;
}
footer .footer_con a img {
  filter: invert(64%) sepia(61%) saturate(795%) hue-rotate(80deg) brightness(103%) contrast(117%);
  margin-bottom: 10px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
footer .footer_con a img:hover {
  filter: unset;
  background-color: #00FF41;
}
footer .footer_con a:hover {
  all: unset;
}
footer .footer_con a::after {
  all: unset;
}
footer .footer_con .line {
  transform: translateX(50%);
  height: 15vh;
  border-left: 2px solid #039e04;
}
@media (max-width: 410px) {
  footer {
    visibility: hidden;
  }
}/*# sourceMappingURL=main.css.map */