@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import "variables";
@import "navbar";
@import "overlay";

// Mixins
@mixin p_in_section {
    width: clamp(45ch, 50%, 75ch);
    line-height: 1.5;
    font-size: 1.1rem;
}

@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// General tags
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: {
        size: $fontSizeReg;
        family: $fontFamilyPrim;
    }
    color: $fontColorPrim;
    background-color: $backgroundColorPrim;
}

a {
    text-decoration: none;
}

// About section
.about_sec {
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: clamp(45ch, 50%, 75ch) clamp(300px, 50%, 100%);
    grid-template-rows: auto;
    p {
        @include p_in_section();
        @include flex_center();
    }
    img {
        @include flex_center();
        width: clamp(300px, 50%, 500px);
    }
}